<div class="text-center mt-4">
    <h2 class="mb-3">Ciao, benvenuto in <img style="width: 200px;" src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7c/UniCredit_%28banking_group%29_logo.svg/2560px-UniCredit_%28banking_group%29_logo.svg.png" alt=""></h2>
    <h3 class="mb-3">Quale operazione vorresti fare?</h3>    
    <button class="btn btn-primary col-3 me-1" routerLink="estratto-conto" routerLinkActive="active">Estratto Conto</button>
    <button class="btn btn-warning col-3 me-1" routerLink="deposito" routerLinkActive="active">Deposito</button>
    <button class="btn btn-success col-3 me-1" routerLink="prelievo" routerLinkActive="active">Prelievo</button>
</div>
